<% if resource.errors.any? %>
<div id="error_explanation" style="color: rgb(209, 68, 68);">
    <% resource.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
</div>
<% end %>
