<h1 style="font-size: 1.2rem">How It Works</h1>
<hr>
<section style="margin-top: 20px">
    <h3 style="font-size: 1rem">For Job Providers</h3>
    <p>
        1. Sign up to create an account with us.
    </p>
    <p>
        2. Create a job posting. It is recommended to provide as much detail as possible to provide a clearer picture of the job.
    </p>
</section>

<section style="margin-top: 35px">
    <h3 style="font-size:1rem">For Job Seekers</h3>
    <p>
        1. Sign up to create an account with us.
    </p>
    <p>
        2. Complete profile <br />
        (You will have an option to make your profile unavailable/available for others to view). <br />
        Tip: The more information you provide, the quicker the potential employer can find you.
    </p>
    <p>
        3. Start browsing for jobs.
    </p>
</section>