<section>
  <% @users.each do |user| %> 
    <% if !user.admin? && !user.hireable %>
  <div class="card" style="margin: 7px 0 7px 0;">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to "#{user.name.capitalize()}", user_path(user.id) %>
      </h5>

      <% if user.headline.present? %>
      <p class="card-text"><%= user.headline %></p>
      <% end %>

      <ul style="font-size: 0.9em; list-style: none;">
        <% user.experiences.each do |experience| %>
        <li>
          <svg
            class="bi bi-person-lines-fill"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          <%= experience.position %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% end %>
<% end %>
</section>
