<section>
<% @users.each do |user| %>
    <% if !user.admin? %>
      <div class="card" style="margin: 7px 0 7px 0">
        <div class="card-body">
        <small>Send an email</small>
          <h5 class="card-title">
            <%= link_to "#{user.name.capitalize()}", user_path(user.id) %>
          </h5>

          <% if user.headline.present? %>
            <p class="card-text"><%= user.headline %></p>
          <% end %>

          <ul style="font-size: .7rem">
            <li>Customer Service: 3 years</li>
            <li>MS Excel: 2 years</li>
            <li>MS Word: 2 years</li>
          </ul>
        </div>
      </div>

    <% end %>
<% end %>
</section>