<!-- <h1>Page not found.</h1>
<section>
  <p>
    Instead of looking for a page that doesn't exist, let's look a job that
    actually exists.
  </p>
</section>
 -->
<section>
  <h6>
    The page you are looking for does not exist.
  </h6>

  <%= link_to 'Back to posting', posts_path, class: "btn btn-danger btn-sm", style: "margin: 10px 0" %>


</section>
