<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @post.job_title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @post.company_name %></h6>
    <p class="card-text"><%= @post.body %></p>
    <a href="#" class="card-link">Apply now</a>
    <a href="#" class="card-link">Bookmark for later</a>
    <hr />
    <p>Updated <%= time_ago_in_words(@post.updated_at) %> ago</p>
  </div>
</div>